body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
.conta{
    max-width: 960px; /* Prevents container from becoming too wide on large screens */
    margin: 0 auto;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
img {
    width: 250px;
    max-height: 250px;
    min-height: 100px;
}
.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8  ;
}
.header .tab {
    display: flex;
    justify-content: space-between;
}
.header .tab ul {
    display: flex;
    gap: 16px;
}
.right-tap ul li a {
    font-size: 18px;
    color: #E5E7EB;
}
.header .under-tap{
    display: flex;
    justify-content: space-between;
    margin:26px 0 ;
}
.header .under-tap .left-under-tap{
    flex-basis: 40%;
}
/* Second sectoin */
.cards {
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 32px 0;
}
#paernt  {
    display: flex;
    gap: 32px;
    max-width: 960px; /* Prevents container from becoming too wide on large screens */
    margin: 0 auto;
}
.cards .product-card {
   flex: 1 16%;
   overflow: hidden;
}
.card-image {
    border: 3px red solid;
    border-radius: 10px;
}

/* End of second section */

/* Quote Section */
.qote {
    padding: 36px 0;
  background-color: #E5E7EB;
}
.qote p {
    font-size: 24px;
    color: #1F2937;
    margin-bottom: 0;
}

/* End on Quote Section */

.call-sec {
    margin: 64px 0 ;
}
.call-sec .conta {
    background-color: #3882F9;
    padding: 64px;
     border-radius: 10px;
     display: flex;
     justify-content: space-between;
     
}
button {
    background-color: #3882F9;
    border-color: #F9FAF8;
    padding: 8px 32px;
    color: aliceblue;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;

}
.call-sec p , .call-sec h2 {
    margin: 0
    ;
}

/* Footer */
.footer {
    background-color: #1F2937;
    color: #F9FAF8 ;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    padding: 16px 0 ;
}

/* End of footer */
