body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
.conta{
    max-width: 960px; /* Prevents container from becoming too wide on large screens */
    margin: 0 auto;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
img {
    width: 250px;
    height: 250px;
}
.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8  ;
}
.header .tab {
    display: flex;
    justify-content: space-between;
}
.header .tab ul {
    display: flex;
    gap: 16px;
}
.right-tap ul li a {
    font-size: 18px;
    color: #E5E7EB;
}
.header .under-tap{
    display: flex;
    justify-content: space-between;
    margin:26px 0 ;
}
.header .under-tap .left-under-tap{
    flex-basis: 40%;
}
/* Second sectoin */
.cards {
    display:flex;
    flex-wrap: wrap;
    text-align: center;
}
#paernt  {
    display: flex;
    gap: 32px;
    max-width: 960px; /* Prevents container from becoming too wide on large screens */
    margin: 0 auto;
}
.cards .product-card {
   flex: 1 16%;
   overflow: hidden;
}
.card-image {
    border: 5px red solid;
    border-radius: 10px;
}

/* End of second section */

